:root {
	--background-color: #1D0762; /* dark violet */
	--text-color: #eae6f2; /* white */
}

body {
	background: var(--background-color);
	text-align: left;
	font-size: 15px;
  font-family: 'Roboto', serif;
	color: var(--text-color);
/*
  text-shadow:
  1px 1px 0 #FFFFFF; /* right and bottom shadow
*/

}

p {
	opacity: 1;
	text-indent: 50px;
}

h1 {
	font-size: 50px;
  font-family: 'Bree Serif', serif;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

h2 {
	font-size: 20px;
}

ul {
	padding-left: 10%;
	padding-right: 10%;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: var(--text-color);
	color: var(--background-color);
  border-radius: 50%;
	height: 100px;
	width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
	margin: 5px;
}

#contactform {
	padding-left: 30%;
	padding-right: 30%;
}
