#image-container {
  display: flex;
  justify-content: center;
}

img {
  padding: 20px;
  width: 350px;
  max-width: 100%;
  max-height: 350px;
  border-radius: 8%;
}

@media (max-width: 500px) {
  #buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 501px) {
  #buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
  }
}


body {
	text-align: center;
}
