p {
	font-size: 34px;
	text-align: left;
	text-indent: 0px;
	padding-top: 5%;
	padding-bottom: 5%;
}

body {
	padding-left: 15%;
	padding-right: 15%;
}

#back-button {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
