:root {
	--background-color: #2A1B38; /* dark violet */
	--text-color: #ffffff; /* white */
	--button-color: #D83F87;
}

body {
	background: var(--background-color);
	text-align: left;
	font-size: 15px;
  font-family: 'Roboto', serif;
	color: var(--text-color);
}

p {
	font-family: 'Roboto', serif;
	opacity: 1;
	text-indent: 50px;
}

h1 {
	font-size: 60px;
	font-family: 'Roboto', serif;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: 500;
}

ul {
	padding-left: 10%;
	padding-right: 10%;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: var(--button-color);
	color: var(--text-color);
  border-radius: 50%;
	height: 8rem; /* was 100 px */
	width: 8rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem; /* was 16px */
	margin: 5px;
}

#contactform {
	padding-left: 30%;
	padding-right: 30%;
}

#footer {
	color: #cfb7e5;
	padding-top: 5%;
}

#footer a:link {
	color: #cfb7e5;
}
