#image-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 501px) {
  img {
    padding: 20px;
    width: 350px;
    max-width: 100%;
    max-height: 350px;
    border-radius: 5%;
  }
  #buttons {
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  #buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .button {
    height: 15rem;
    width: 15rem;
  }
  img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }
}

#github-button:hover {
  background-color: white;
  content: url(../content/github-logo.svg); /* file loc relative to css file */
}

#linkedin-button:hover {
  background-color: white;
  content: url(../content/linkedin-logo.svg); /* file loc relative to css file */
}

#resume-button:hover {
  background-color: white;
  content: url(../content/cv-logo.svg);
}

#bio-button:hover {
  background-color: white;
  content: url(../content/smile.svg);
}

#portfolio-button:hover {
  background-color: white;
  content: url(../content/resume.svg);
}

body {
	text-align: center;
}

h2 {
  font-size: 40px;
}

.portfolio-link {
  padding-bottom: 4%;
}

.page-section {
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  font-size: 22px;
  padding-left: 5%;
  padding-right: 5%;
}

.portfolio-button {
  height: 10rem; /* was 100 px */
  width: 10rem;
}

.portfolio-button:hover {
  opacity: 0.8;
}

#dog-lover {
  background-color: var(--button-color);
}

#dancer {
  background-color: var(--light-purple);
  color: var(--background-color);
}
